<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Adding Success Page</title>
	</head>
	<body>
		<h2>Adding Success</h2>
		<br>
		You completed an adding 
		<a href="/public/listuser.html">Go to list_page.</a>

	</body>
</html>